[submodule "utils"]
	path = system/webos/utils
	url = https://github.com/webosbrew/native-dev-utils.git
[submodule "core/moonlight-common-c"]
	path = core/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "system/webos/tv-native-apis"]
	path = system/webos/tv-native-apis
	url = https://github.com/webosbrew/tv-native-apis.git
[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/mariotaku/lvgl.git
[submodule "third_party/libmicrodns"]
	path = third_party/libmicrodns
	url = https://github.com/videolabs/libmicrodns.git
[submodule "third_party/Unity"]
	path = third_party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "third_party/inih"]
	path = third_party/inih
	url = https://github.com/benhoyt/inih.git
[submodule "third_party/ss4s"]
	path = third_party/ss4s
	url = https://github.com/mariotaku/ss4s.git
[submodule "third_party/commons"]
	path = third_party/commons
	url = https://github.com/mariotaku/commons-c.git
