[submodule "utils"]
	path = utils
	url = https://github.com/webosbrew/native-dev-utils.git
[submodule "third_party/Nuklear"]
	path = third_party/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "system/libndl"]
	path = decoder/ndl/stub
	url = https://github.com/webosbrew/libndl.git
[submodule "third_party/opus"]
	path = third_party/opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "core/moonlight-common-c"]
	path = core/moonlight-common-c/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "third_party/mdns"]
	path = third_party/mdns
	url = https://github.com/mjansson/mdns.git
[submodule "third_party/SDL_GameControllerDB"]
	path = third_party/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "decoder/lgnc/stub"]
	path = decoder/lgnc/stub
	url = https://github.com/webosbrew/lgncapi.git
[submodule "third_party/message_queue"]
	path = third_party/message_queue
	url = https://github.com/LnxPrgr3/message_queue.git
[submodule "third_party/incbin"]
	path = third_party/incbin
	url = https://github.com/graphitemaster/incbin
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "decoder/smp/stub"]
	path = decoder/smp/stub
	url = https://github.com/webosbrew/starfish-media-pipeline-api.git
[submodule "decoder/dile/stub"]
	path = decoder/dile/stub
	url = https://github.com/webosbrew/dile-directmedia.git
