[Desktop Entry]
Type=Application
Version=1.0
Name=Moonlight TV
Comment=Open Source NVIDIA GameStream Client
Exec=moonlight-tv
Icon=moonlight-tv
Terminal=false
Categories=Game;RemoteAccess